html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}
.main {
    display: flex;
    flex-flow: column;
    width: 80%;
    background-color: rgb(255, 255, 255);
}
.menu {
    width: 15%;
    background-color: rgba(255, 0, 0, 0.322);
    padding: 10px 20px 0px;
}
.header {
    background-color: rgba(173, 3, 3, 0.39);
    min-height: 150px;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
    text-align: center;
    
    
}
.footer {
    background-color: rgb(77, 64, 73);
    min-height: 150px;
    text-align: center;
}

.logo {
   align-items: center;
   inline-size: auto;
   display:  inline-table;
   width: 20px;
   
   
}


#artext {
	background: linear-gradient(to left, 
		violet, indigo, blue, 
		green, yellow, orange,
		darkred);
background-clip: text;
display: inline;
color: transparent;
animation: animated 5s linear infinite;

}

@keyframes animated{
	to {background-position-x: 200px;}
}

.Localização {
    text-align: center;
}


.imagens {
    display: inline-block;
}